.Input-form{
  background-color: rgba(211, 211, 211, 0.25);
  width: 40%;
  min-width: 290px;
  max-width: 350px;
  margin: auto;
  padding: 2%;
}
.Input-email, .Input-pwd {
  text-align: left;
}
.Input-email{
  margin-bottom: 5%;
}
.Inputbox-email, .Inputbox-pwd{
  border: .5px solid lightgray;
  border-radius: 5px;
  height: 30px;
  width: 95%;
  padding: 1%;
  padding-left: 3%;
  margin: auto;
  margin-top: 1%;
}
.Inputbox-email:focus, .Inputbox-pwd:focus{
  outline: none;
  border: 1px solid black;
}
.label-email, .label-pwd{
  color: gray;
  margin-left: 1%;
  font-size: 12px;
}
.fa-eye, .fa-eye-slash, .fa-check-circle{
  cursor: pointer;
  margin: auto;
  margin-left: -10%;
}
.fa-check-circle{
  color: lightgray;
}
.emailIncorrect{
  color: red;
  font-size: 13px;
  margin-left: 1%;
}
.c-green{
  color: rgba(0, 128, 0, 0.55);
}
.d-none{
  display: none;
}